/* 
 * This file is part of Dynamic Presenter.
 * 
 * Copyright 2013, Carlos Alegría Galicia
 *
 * Dynamic Presenter is free software: you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by the Free
 * Software Foundation, either version 3 of the License, or any later version.
 *
 * Dynamic Presenter is distributed in the hope that it will be useful, but
 * WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
 * details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Dynamic Presenter. If not, see <http://www.gnu.org/licenses/>.
 */
 
.point_maximal {
	-fx-fill: red;
}
.point_normal {
	-fx-fill: black;
}
.point:hover {
	-fx-stroke: rgb(151,161,247);
	-fx-stroke-type: outside;
	-fx-stroke-width: 3;
}

.ohull_component {
	-fx-fill: rgb(216,216,130);
	-fx-stroke: black;
	-fx-stroke-width: 1pt;
}
.ohull_overlap {
	-fx-fill: transparent;
	-fx-stroke: black;
	-fx-stroke-dash-array: 3 5;
	-fx-stroke-width: 1pt;
}

#orientation_label {
	-fx-translate-x: 10;
	-fx-translate-y: 5;
	-fx-font-size: 30pt;
	-fx-font-smoothing-type: lcd;
	-fx-text-origin: top; 
}

#area_label {
	-fx-translate-x: 10;
	-fx-translate-y: 50;
	-fx-fill: cadetblue;
	-fx-font-size: 30pt;
	-fx-font-smoothing-type: lcd;
	-fx-text-origin: top;
}